@charset "UTF-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkslategrey;
}

button {
    background: none;
    color: rgb(255, 119, 0);
    border: 2px solid;
    padding: .5em 1.5em;
    font-size: 2em;
    transition: all .5s;
}

button:hover {
    background: rgb(11, 10, 0);
    border-color: crimson;
    color: indianred;
    box-shadow: 0 0.5em 0.5em -0.1em crimson;
    transform: translateY(-0.5em);
    cursor: pointer;
}